* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

.form-label {
    text-transform: uppercase;
}

.movie_title {
    font-size: 18px;
}

.genre {
    font-weight: 500;
}